# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Build & distribution
build/
dist/
*.spec
*.egg-info/

# Local configurations & logs
settings.json
*.log

# IDE & editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Scratch & Local tests
tests/